<div class="scrollable-content section" ng-controller="DetailController">
  <section class="image-slideshow mb-0">
    <div class="z-slide-wrap">
      <ul id="product-slide" class="z-slide-content">        
          <li ng-repeat="image in data.images" slide-repeat-directive class="z-slide-item">
              <div class="images"> 
                <img ng-src="{{image.url || 'https://hackathon.tokopedia.com/images/broken_image.png'}}"> 
             </div>
          </li>
          <li ng-if="data.images.length == 0" slide-repeat-directive class="z-slide-item">
              <div class="images">
                <img ng-src="https://hackathon.tokopedia.com/images/broken_image.png">
             </div>
          </li>
      </ul>
    </div>
  </section>
  <section class="section container-fluid">
    <div class="ml-10 mr-10 product-detail__header mb-0">
      <h1 itemprop="name" class="mb-5 fw-600">{{data.name}}</h1>
      <div class="product-detail-price mt-5 pull-left">
        <span itemprop="priceCurrency" content="IDR">Rp </span>
        <span itemprop="price" class="fw-600">{{data.price | number:0}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="">
        <div class="details-header-new">Product Description</div>
        <div>{{data.description}}</div>
      </div>
    </div>

  </section>
</div>
