<div class="scrollable-content section" ng-controller="DetailController" data-ng-init="init()">
  <section class="image-slideshow mb-0">
    <div class="z-slide-wrap" id="product-slide">
      <ul class="z-slide-content">        
          <li ng-repeat="image in data.images" class="z-slide-item">
              <div class="images"> 
                <img src="{{image.url}}"> 
             </div>
          </li>
      </ul>
    </div>
  </section>
  <section class="section container-fluid">
    <div class="ml-10 mr-10 product-detail__header mb-0">
      <h1 itemprop="name" class="mb-5 fw-600">{{data.name}}</h1>
      <div class="product-detail-price mt-5 pull-left">
        <span itemprop="priceCurrency" content="IDR">Rp </span>
        <span itemprop="price" class="fw-600">{{data.price}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="">
        <div class="details-header-new">Product Description</div>
        <div>{{data.description}}</div>
      </div>
    </div>

  </section>
</div>
