<div class="scrollable">
  <div class="scrollable-content section" ng-controller="ProductsController">
<!--     <div class="info text-center" ng-if="pendingUpload == '-'">
      <strong><h3>No Pending Upload</h3></strong>
    </div> -->
    <div class='productList-wrapper' ng-if="pendingUpload.length > 0">
      <div class="productList-title"><strong>Uploading</strong></div>
      <ul>
        <li ng-repeat="pendingItem in pendingUpload">
          <div class="row-fluid product-catalog-wrapper">
            <figure  ng-if="pendingItem.images.length > 0">
              <a href="{{pendingItem.images[0].url}}" class="relative" ng-if="pendingItem.images.length > 0">
              <img width="90" itemprop="image" class="" src="{{pendingItem.images[0].url}}" alt="{{pendingItem.name}}" 
                data-original="{{pendingItem.images[0].url}}" style="display: inline;">
              </a>
            </figure>
            <div class="info">
              <a href="{{item.linkToDetail}}">
                <div class="info-data">
                  <span class="product-list-name ellipsis">{{pendingItem.Name}}</span>
                  <div class="row-fluid product-catalog-price">
                    <span class="product-catalog-price font-orange bold">Rp {{pendingItem.Price}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
    <div id="product-list" class="productList-wrapper">
      <div class="productList-title"><strong>List Products</strong></div>
      <ul>
        <li ng-repeat="item in data">
          <div class="row-fluid product-catalog-wrapper">
            <figure ng-if="item.images.length > 0">
              <a href="{{item.images[0].url}}" class="relative">
              <img width="90" itemprop="image" class="" src="{{item.images[0].url}}" alt="{{item.name}}" data-original="{{item.images[0].url}}" style="display: inline;">
              </a>
            </figure>
            <div class="info">
              <a href="/#/detail/{{item.id}}">
                <div class="info-data">
                  <span class="product-list-name ellipsis">{{item.name}}</span>
                  <div class="row-fluid product-catalog-price">
                    <span class="product-catalog-price font-orange bold">Rp {{item.price}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
