<div class="upload scrollable-content  bg-f8 p-10" ng-controller="UploadController">
<form role="form" ng-submit="upload()">
 <fieldset>
   <legend>Upload Product</legend>
   <div class="form-group has-success has-feedback">
    <label>Product Name</label>
     <input type="text" ng-model="uploadData.Name" class="form-control" />
   </div>
   <div class="form-group has-success has-feedback">
    <label>Price</label>
    <input type="text" ng-model="uploadData.Price" class="form-control" />
   </div>
   <div class="form-group has-success has-feedback">
     <label>Description</label>
     <textarea ng-model="uploadData.Description" class="form-control" ></textarea>
   </div>
   <div class="form-group has-success has-feedback">
     <label>Upload Images</label>
     <div id="file-forms">
     <input type="file" name="pic" accept="image/*" ng-file-model="uploadData.Images" class="form-control" onchange="addForm()"/>
     
     </div>
   </div>
   <button class="btn btn-primary btn-block">
     Upload
   </button>
 </fieldset>
</form>
</div>

